<%- include("partials/header"); -%>

  <div class="container">
    <span class="myblogs-btn">
      <a class="btn btn-lg" href="/myposts" role="button">My blogs</a>
    </span>
    <span class="logout-btn">
      <a class="btn btn-lg" href="/logout" role="button">Log Out</a>
    </span>
    <span class="postblog-btn">
      <a class="btn btn-lg" href="/compose" role="button">Post a blog</a>
    </span> 
  </div>

  
  <div class="main container">
    <h1>Home</h1>
    
    <p> <%= startingContent %> </p>
    <br>
  
    <h1>Posts</h1>
    <% posts.forEach(function(post) { %>
        <div class="row border">
          <div class="col-sm-4 img-container">
            <img src="<%=post.image%>" class="image-home">
          </div>
          <div class="col-sm-8 text-container">
            <h2> <%= post.title %></h2>
            <p> 
            <%= (post.body).substring(0,100) + "..." %>
            <a href="/posts/<%=post.id%>">Read More</a> 
            </p>
          </div>
        </div>
    <% }) %>

  </div>

<%- include("partials/footer"); -%>